<!-- <form>
  <div class="form-group">
    <label for ="task">Add new task</label>
    <input id="task" type="text" class="form-control"
      [(ngModel)]="" name="task" required>
  </div>
  <button type="submit">Add</button>
</form>
 -->
<div class="container">
  <h2>My Tasks</h2>
    <div id="newTask">
        <label>Add new task:
          <input #newTaskValue />
        </label>
        <button (click)="add(newTaskValue.value); newTaskValue.value=''">
          add
        </button>
   </div>
</div>